<div class="py-5" id="feedbackBanner" style="background-color: #1b1f23">

    <div class="text-center pt-2 px-5">
        <h2 class="mb-4" style="color: white; font-weight: 400;">
            For feedback about the app, click the button below to be navigated to the feedback page, or contact me at one of my socials!
        </h2>

        <h2 class="mb-5" style="color: white; font-weight: 400;">
            Active development of the app has slowed but there is potential for updates until the end of March.
        </h2>

        <button class="feedbackButton" mat-flat-button style="border-radius: 70px; width: 170px; height: 45px;" routerLink="/feedback"><span style="font-size: 18px; font-weight: 500; color: black; outline: none">Give Feedback!</span></button>

    </div>
</div>