<div [@simpleFadeAnimation]="'in'" class="aboutContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">Hi, I'm Anna!<br><div class="divider my-4"></div><span style="color: #464d57;">I expanded on the app developed by Liam Lau for his final year project at the University of Glasgow.</span></h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">

        <div class="container my-5" style="font-family: DM Sans;">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">The project</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        This app is a matching algorithm animator proposed by Sofiat Olaosebikan, my supervisor for this project, and developed as part of my final year individual project over the course of 6 months.
                        The idea of this app was to expand on the work done on this project last year by Liam Lau, by adding Dr Manlove et al's Student-Project Allocation Algorith with Project Priority, as well as the version with the stability improvements introduced by Dr Iwama et al to the list of available algorithms for visualisation.
                        <br><br>
                        Although the visualisation does not work on canvas, the results of the SPA-P algorithms can be viewed via the console log under Developer Tools. An image of the intended visualisation can be viewed in the Evaluation Form.
                        <br><br>
                        This app was created by Liam for <b>desktop</b> use - so will look the best on larger screens - and I was unable to implement optimisation mobile devices due to time constraints so elements may not appear properly on smaller screens/windows.
                        <br><br>
                        To get started or learn more, head over to the Algorithms page where you can select an algorithm to run in different scenarios. Currently there are 5 options, 3 from the previous version, developed by Liam, and the 2 SPA-P implementations, developed by me,
                        I have no current plans for adding more, especially not until the service can handle differences between algorithms in the number of agents
                    </p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pb-5">
                <div class="col-lg-6 col-sm-12 my-auto" id="homePageRow3Text">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">More about me</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        I'm Anna! A 4th year Software Engineering student at the University of Glasgow.
                        <br><br>
                        If you want to know more about this project's state prior to my involvement or are interested in other projects I have worked on, please head below!
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12 pl-5">
                    <div style="width: 300px; height: 300px; overflow: hidden; border-radius: 50%; border: 3px solid rgb(180, 180, 180);" class="mx-auto">
                        <img src="assets/images/anna.jpg" id="homePageRow3Content" style="margin: 0 auto; margin-left: -8.2%; margin-top: -14%;height: 140%; width: auto;" alt="me">
                    </div>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pb-5">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Help and special mentions</h1>
                    <p class="pr-5" style="font-size: 20px; line-height: 30px; font-weight: 300;">
                        A big thank you to Dr Sofiat Olaosebikan for her exceptional continuous guidance and immense support in what was truly an incredibly hectic and overwhelming year.
                        <br><br>
                        Also, thank you to the projects's previous developer, Liam, for his helpful advice and previous work.
                        Finally I am grateful to my parents and to my partner, James, for their continuous love and support throughout the year.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>