<div [@simpleFadeAnimation]="'in'" class="feedbackContent">
    <div class="container text-center py-5 my-5 col-sm-11 col-lg-8 col-xl-6">
        <h1 class="title-text">I would greatly appreciate any feedback!<br><div class="divider my-4"></div><span style="color: #464d57;">I am collecting feedback to improve this app through Google Forms! Check below for details!</span></h1>
    </div>

    <div class="py-5" style="background-color: #f6f6f8">

        <div class="container my-5" style="font-family: DM Sans;">
            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Evaluation</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">If you'd like to help me out, please considering filling in the evaluation survey: </p>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">For any other suggestions or comments, please contact me at 2327851S@student.gla.ac.uk</p>
                </div>
            </div>

            <div class="" style="height: 150px"></div>

            <div class="row pt-3">
                <div class="col-12">
                    <h1 style="font-size: 40px; line-height: 50px; font-weight: 600;">Future Work</h1>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;"> This is a university project building upon another project of the same scope from last year thus development times was limited. Below is a list of potential improvements and features, I would have liked to work more on.</p>
                    <ul style="font-size: 18px; line-height: 30px; font-weight: 300;">
                        <li>Refining the implementation of the SPA-P algorithms so that it can be handled and visualised as intended</li>
                        <li>Functionality to edit capacity constraints of lecturers and projects via preferences</li>
                        <li>Improvements to the user-friendliness of the method used to enter relevant preferences</li>
                        <li>A more reliable way for handling differences in number of agents (ex. hospital-residents compared to student-project-lecturer</li>
                    </ul>
                    <p style="font-size: 20px; line-height: 30px; font-weight: 300;">If there's anything you think would be a great addition to this app, please go through my evaluation and add your thoughts!</p>
                </div>
            </div>

        </div>
    </div>

</div>
